* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
}
.active {
  background-color: white !important;
  padding: 10px 30px;
  color: black;
}

.nav_tabs ul li {
  background-color: rgba(28, 28, 102, 0.896);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 30px;
}
.nav_tabs ul li:hover {
  color: black;
  cursor: pointer;
  background-color: white !important;
}
.nav_tabs ul li img {
  width: auto;
  height: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
  outline: none;
  border: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
