* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
}
.active {
  background-color: white !important;
  border-radius: 10px;
  padding: 10px 30px;
  color: black;
  cursor: pointer;
}

.nav_tabs ul li {
  background-color: rgba(28, 28, 102, 0.896);
  border-radius: 10px;
  padding: 10px 30px;
}
.nav_tabs ul li img {
  width: auto;
  height: auto;
}
